@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext);

/*
THEME NAME: Regionálne noviny
VERSION: 1.0
AUTHOR: regionWEB
AUTHOR URI: http://regionweb.sk
*/

html * {
  margin: 0;
  padding: 0;
}

body * {
  overflow: hidden;
}

address,
article,
aside,
audio,
canvas,
command,
datalist,
details,
dialog,
figure,
figcaption,
footer,
header,
hgroup,
keygen,
mark,
meter,
menu,
nav,
progress,
ruby,
section,
time,
video {
  display: block;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  outline-style: none;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  border: none;
  display: block;
}

button,
fieldset,
input,
select,
textarea {
  border: none;
  outline-style: none;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

body {
  color: #565656;
  font: 14px/24px "Open Sans", sans-serif;
  min-width: 960px;
  overflow: visible;
}

#wrapper {
  margin: 0 auto;
  padding: 0 8px;
  width: 944px;
}

header {
  margin: 0 0 24px;
  padding: 48px 0 0 0;
  position: relative;
}

#title {
  color: #00aeef;
  display: block;
  float: left;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

#title span {
  color: #565656;
}

#login {
  background: #00aeef;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 0;
}

#show-date-with-name-day {
  bottom: 64px;
  position: absolute;
  right: 0;
}

#show-date-with-name-day span {
  color: #fa824f;
}

header nav {
  background: #404040;
  clear: both;
  height: 56px;
}

header li {
  float: left;
}

header li a {
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 16px 24px;
}

header li:first-child a,
header li:first-child a:hover {
  background: #00aeef url(images/home.png) center no-repeat;
  height: 56px;
  padding: 0 24px;
  width: 20px;
}

header li:first-child span {
  display: none;
}

header li.active a,
header li a:hover {
  background: #fa824f;
}

article {
  float: left;
  width: 640px;
}

section {
  margin: 0 0 24px;
}

aside {
  clear: right;
  float: right;
  margin: 0 0 24px;
  width: 280px;
}

footer {
  border-top: 1px solid #eee;
  clear: both;
  color: #aaa;
  padding: 24px 0;
  text-align: center;
}

#reader {
  background: url(images/reader.png) no-repeat;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 24px;
  padding: 48px 0 24px 24px;
  width: 256px;
}

#reader span {
  display: none;
}

#reader:hover {
  background-position: 0 -96px;
}

.heading  {
  background: #00aeef;
  color: #fff;
  margin: 0 0 24px;
  padding: 8px 24px;
}

.heading h1 {
  font-size: 16px;
}

.advertising .heading {
  background: #ccc;
}

.other-posts .heading {
  background: #d74848;
}

.discounts .heading {
  background: #f26d7e;
}

.slidesjs-control {
  overflow: visible; 
}

.slidesjs-previous,
.slidesjs-next {
  background: url(images/slides-pagination.png) no-repeat;
  height: 64px;
  opacity: .5;
  position: absolute !important;
  top: 64px;
  width: 64px;
  z-index: 100;
}

.slidesjs-previous:hover,
.slidesjs-next:hover {
  opacity: 1;
}

.slidesjs-previous span,
.slidesjs-next span {
  display: none;
}

.slidesjs-previous {
  left: 48px;
}

.slidesjs-next {
  background-position: 0 -64px;
  right: 48px;
}

.slidesjs-pagination {
  position: absolute;
  right: 24px;
  top: -49px;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 0 0 8px;
}

.slidesjs-pagination a {
  border: 1px solid #fff;
  display: block;
  font-size: 0;
  height: 9px;
  margin: 0 !important;
  position: static !important;
  width: 9px;
}

.slidesjs-pagination a.active {
  background: #fff;
}

.top-post a {
  color: #565656;
}

.top-post a:hover h1 {
  color: #d74848;
  text-decoration: underline;
}

.top-post h1 {
  border-left: 8px solid #d74848;
  font-size: 18px;
  padding: 0 0 0 16px;
}

.top-post h1,
.top-post .meta {
  margin: 0 0 10px;
}

.top-post .meta span {
  float: left;
}

.top-post .meta span:first-child {
  margin: 0 16px 0 0;
}

.top-post .meta span {
  background: url(images/meta-icons.png) no-repeat;
  padding: 0 0 0 24px;
}

.top-post .meta span + span {
  background-position: 0 -24px;
}

.latest-posts .slides,
.other-posts .slides,
.discounts .slides {
  display: none;
  height: 400px;
}

.latest-posts .slides {
  position: relative;
  width: 640px;
}

.latest-posts a:hover h1 {
  text-decoration: underline;
}

.other-posts .slides {
  float: right;
  overflow: visible !important;
  position: relative;
  width: 308px;
}

.discounts .slides {
  overflow: visible !important;
  position: relative;
  width: 640px;
}

.latest-posts .slides a,
.other-posts .slides a,
.discounts .slides a {
  display: block;
}

.other-posts .slides a {
  margin: 0 0 24px;
}

.discounts .slides a {
  float: left;
  margin: 0 24px 24px 0;
  position: relative;
}

.other-posts .slides a:nth-child(4) {
  margin: 0;
}

.discounts .slides a:nth-child(2),
.discounts .slides a:nth-child(4) {
  margin: 0 0 24px;
}

.latest-posts h1 {
  font-size: 18px;
  margin: 0 0 16px;
}

.latest-posts .perex {
  background: #404040;
  bottom: 0;
  color: #fff;
  padding: 24px;
  position: absolute;
}

.other-posts .slides img {
  float: left;
  margin: 0 24px 0 0;
}

.other-posts a:hover h2 {
  color: #d74848;
  text-decoration: underline;
}

.other-posts h2 {
  border-left: 8px solid #d74848;
  color: #565656;
  margin: 0 0 10px;
}

.other-posts .static h2 {
  font-size: 16px;
  padding: 0 0 0 16px;
}

.other-posts .slides h2 {
  font-size: 14px;
  padding: 0 0 0 8px;
}

.discounts .slides h2 {
  background: #f26d7e;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  padding: 8px 16px;
  position: absolute;
  width: 276px;
}

.other-posts .static {
  float: left;
  width: 308px;
}

.other-posts .static img,
.other-posts .static h2 {
  margin: 0 0 24px;
}

.other-posts .static {
  color: #565656;
}

.other-posts .static:hover h2 {
  color: #d74848;
  text-decoration: underline;
}

.other-posts .static h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.other-posts .static .meta {
  margin: 0 0 10px;
}

.top-post .meta span,
.other-posts .meta span {
  color: #aaa;
  display: block;
}

.other-posts .meta span {
  background: url(images/meta-icons.png) no-repeat;
  padding: 0 0 0 24px;
}

.other-posts .meta span + span {
  background-position: 0 -24px;
}

.discounts .slides .meta {
  font-weight: bold;
  position: absolute;
  top: 24px;
}

.discounts .slides .meta span {
  background: #fff;
  color: #f26d7e;
  display: block;
  float: left;
  padding: 8px 16px;
}

.discounts .slides .meta span + span {
  background: #f26d7e;
  color: #fff;
}

.tips li {
  background: url(images/list-style.png) center left no-repeat;
  padding: 0 0 0 24px;
}

.tips a {
  color: #565656;
}

.tips a:hover {
  color: #fa824f;
  text-decoration: underline;
}

.advertising .title {
  color: #fa824f;
}

.advertising .desc {
  margin: 0 0 8px;
}

#sale h2 {
  color: #00aeef;
}

#sale .meta span {
  float: left;
  margin: 0 16px 0 0;
}

#sale p {
  margin: 0 0 10px;
}

.meta {
  font-size: 12px;
}

.post {
  margin: 0 0 24px;
}

.post a {
  color: #565656;
}

.post img {
  float: left;
  margin: 0 24px 0 0;
}

.discounts .post a:hover {
  color: #f26d7e;
}

.discounts .post ul span {
  color: #f26d7e;
}

.all-posts .post a:hover h2 {
  color: #d74848;
}

.all-posts .post a:hover h2 {
  text-decoration: underline;
}

.post h2 {
  color: #565656;
  font-size: 18px;
  margin: 0 0 10px;
}

.post .meta {
  margin: 0 0 10px;
}

.post .meta span {
  color: #aaa;
  display: block;
}

.post .meta span {
  background: url(images/meta-icons.png) no-repeat;
  padding: 0 0 0 24px;
}

.post .meta span + span {
  background-position: 0 -24px;
}

.post .meta span + span + span {
  background-position: 0 -48px;
}

.content p {
  margin: 0 0 24px;
}

.content ol,
.content ul {
  margin: 0 0 24px 32px;
  overflow: visible;
}

.content ol li,
.content ul li {
  overflow: visible;
}

.content ol {
  list-style: decimal;
}

.content ul {
  list-style: disc;
}

.content blockquote {
  margin: 0 0 24px;
}

.content blockquote p {
  margin: 0;
}

.alignleft {
  float: left;
  margin: 0 24px 24px 0;
}

.aligncenter {
  margin: 0 auto 24px;
}

.alignright {
  float: right;
  margin: 0 0 24px 24px;
}

.wp-caption p {
  text-align: center;
}

ul.page-numbers {
  margin: 0 0 24px;
}

ul.page-numbers li {
  float: left;
  margin: 0 8px 0 0;
}

ul .page-numbers {
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  width: 24px;
}




body.admin-bar {
  margin: 28px 0 0;
}

#wpadminbar,
#wpadminbar * {
  overflow: visible;
}